.crmBlock {
    position: relative;
    transition: all .35s ease-in-out;
    padding-bottom: 110px;
}
.adminBlock {
    position: relative;
    margin: 20px 0;
}

.crmlogo {
    width: 80px;
    height: 44px;
}

.crmLlumarImg {
    display: flex;
    align-items: center;
    height: 100%;
}

.crmLlumarImg div {
    width: 427px;
    height: 355px;
}

.crmList {
    display: grid;
    grid-template-rows: repeat(1, auto);
    gap: 80px;
}
.basicBlock {
    height: 100%;
    display: flex;
    align-items: center;
}

.basicBlock div {
    width: 360px;
    height: 275px;
}

@media (max-width:768px) {
    .crmList {
        margin: 0 auto;
    }
}

@media (max-width:576px) {
    .crmLlumarImg div {
        width: 270px;
        height: 200px;
    }
    .basicBlock {
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .basicBlock div {
        width: 210px;
        height: 160px;
    }
    
    .crmlogo {
        width: 50px;
        height: 34px;
    }
}